@use 'base';

article {
    @include base.article;
}

article.link {
    cursor: pointer;
}

//Animationer
.animation-scale {
    transform: 1s;
}
.animation-scale:hover {
    transform: scale(1.05);
}