@use 'base';

//sökfält
#search {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    font-size: base.$fontsize-p;
}

article {
    @include base.article;
}

article.link {
    cursor: pointer;
}

//kart div
#map {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56%;
    font-size: 3rem;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

main {
    ul {
        font-size: base.$fontsize-p;
        padding-bottom: 3rem;
        list-style-position: inside;
    }

    a {
        color: base.$accent-color;
        text-decoration: underline;
    }

    a:hover {
        color: base.$font-color;
    }
}

//Animationer
.animation-scale {
    transform: 1s;
}

.animation-scale:hover {
    transform: scale(1.05);
}

#sun {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    animation: flyingSun 10s linear 2;
}

//prefers dark
@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bg-color-dark;
        color: base.$font-color-dark;
    }

    span {
        color: base.$location-color-dark;
    }

    a {
        h1 {
            color: base.$font-color-dark;
        }
    }

    main {
        a {
            color: base.$accent-color;
            text-decoration: underline;
        }

        a:hover {
            color: base.$font-color-dark;
        }
    }

    article {
        border-color: base.$font-color-dark;
    }
}